:root {
    --color-dark: #191A23;
    --color-dark-alt: #292A32;
    --color-ligth: #FFFFFF;
    --color-accent: #B9FF66;
    --color-gray: #f3f3f3;
    --color-gray-alt:#898989;

    --border: 1px solit var(--color-dark)
    --border-radius: 14px;
    --border-radius-small: 7px;
    --border-radius-large: 45px;

    --shadow:0px 5px 0px 0px var(--color-dark);

    --font-family-base: 'Space Grotesk', sans-serif;

    --container-width: 1240px;
    --container-padding-x: 20px;

    --setion-padding-y:70px;

    --input-height: 59px;
    --button-height: 68px;
    
    -o-transition-duration: 0.2s;
}